<section class="card-item-container">
  @if ((nodes$ | async) == undefined) {
  <app-card-node-empty (goBackEvent)="goBack()"></app-card-node-empty>
  } @else {
  <app-card-node-create
    [locales]="(locales$ | async)!"
    (selectedLocales)="createNode($event)"
  ></app-card-node-create>

  @defer (when (nodes$ | async)) { @for (node of (nodes$ | async); track $index)
  {
  <app-card-node
    [nodeInput]="node"
    [localesInput]="(locales$ | async)!"
    (currentId)="deleteNode($event)"
    (parentId)="goToParentNode($event)"
    (childId)="goToChildNode($event)"
    (getChangeLocal)="changeLocale($event.locale, $event.node)"
  ></app-card-node>

  } } @placeholder {
  <h2 class="text">Cargando</h2>
  } @error {
  <h2>Hubo un error al obtener los nodos</h2>
  } }
</section>
