.card-item-new {
  margin-top: 1rem;
  width: 18rem;

  padding: 1rem;
  display: flex;
  justify-content: space-around;
  height: 28rem;
}

.card-item-new-options {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
